@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Unbounded:wght@500&display=swap");

body {
  font-family: "Roboto";
  box-sizing: border-box;
}

.container {
  /* color: blue; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 30px;
  row-gap: 20px;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  /* border: 1px solid red; */
  width: 90vw;
  height: 90vh;
}

.modal-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-container .header #closeBtn {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

.modal-container .body {
  width: 100%;
  height: 90%;
}
